<menu>    
    <menuitem label='Dashboard'>
        <icon>fa:dashboard fa-fw</icon>
        <action>Dashboard</action>
    </menuitem>
    <menuitem label='Meus Interesses'>
        <icon>fa:dashboard fa-fw</icon>
        <action>InteressesForm</action>
    </menuitem>
    <menuitem label='Configurações da Conta'>
        <icon>fa:dashboard fa-fw</icon>
        <action>Config</action>
    </menuitem>
    <menuitem label='Pessoas em Comum'>
        <icon>fa:dashboard fa-fw</icon>
        <action>Pessoas</action>
    </menuitem>
    <menuitem label='Logout'>
        <icon>fa:dashboard fa-fw</icon>
        <action>LoginForm#method=onLogout#static=1</action>
    </menuitem>
    <menuitem label='Ações'>
      <icon>fa:suitcase fa-fw</icon>
      <menu>
          <menuitem label='Comprar'>
              <icon>fa:dashboard fa-fw</icon>
              <action>OptionScreen</action>
          </menuitem>
      </menu>
    </menuitem>
    <menuitem label='Administração'>
        <icon>fa:university fa-fw</icon>
        <menu>
              <menuitem label='Programas'>
                  <icon>fa:file-code-o fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='Groupos'>
                  <icon>fa:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='Usuários'>
                  <icon>fa:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='SQL Panel'>
                  <icon>fa:table fa-fw</icon>
                  <action>SystemSQLPanel</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fa:code fa-fw</icon>
                  <action>SystemPHPInfoView</action>
              </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Logs'>
        <icon>fa:desktop fa-fw</icon>
        <menu>
              <menuitem label='Access Log'>
                  <icon>fa:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='Change Log'>
                  <icon>fa:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='SQL Log'>
                  <icon>fa:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
        </menu>
    </menuitem>
        
    <menuitem label='Common pages'>
        <menu>
            <menuitem label='Common page 1'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 2'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 3'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
