<div>
	<a href='index.php?class=BuyForm&s=1'>
		<button class="btn btn-option">
			<i class="fa fa-arrow-right" aria-hidden="true"></i>
			Iniciar uma Compra (Loja)
		</button>
	</a>
	<a href='index.php?class=BuyForm&i=1'>
		<button class="btn btn-option">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
			Comprar por interesse
		</button>
	</a>
	<a href='index.php?class=StoreOption'>
		<button class="btn btn-option">
			<i class="fa fa-building" aria-hidden="true"></i>
			Buscar por Loja
		</button>
	</a>
	<a href='index.php?class=InteresseBuy'>
		<button class="btn btn-option">
			<i class="fa fa-search" aria-hidden="true"></i>
			Buscar por Interesse
		</button>
	</a>
</div>